---
# Settings based on Linux Kernel recommendations
BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
#UseTab: ForIndentation
UseTab: Never

ColumnLimit: 120

#BreakBeforeBraces: Linux

AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: false

#AccessModifierOffset: -4
IndentAccessModifiers: true

################################################
# Custom Settings
################################################
BreakBeforeBraces: Custom

BraceWrapping:
   AfterFunction: true
   BeforeElse: true

# int aaaa = 12;
# int b    = 23;
# int ccc  = 23;
AlignConsecutiveAssignments: true

# int         aaaa = 12;
# float       b = 23;
# std::string ccc = 23;
AlignConsecutiveDeclarations: true

# #define SHORT_NAME       42
# #define LONGER_NAME      0x007f
# #define EVEN_LONGER_NAME (2)
# #define foo(x)           (x * x)
# #define bar(y, z)        (y + z)
AlignConsecutiveMacros: true

# #if FOO
#  #if BAR
#    #include <foo>
#  #endif
# #endif
IndentPPDirectives: AfterHash

AlwaysBreakTemplateDeclarations: Yes


AllowAllParametersOfDeclarationOnNextLine: true
#AllowShortFunctionsOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: All
